# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtualenv
env/
venv/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Credentials & Environment
.env
*.json

# Project folders that should be recreated
uploads/
images/
text_file_folder/
