/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

/* Apply the font to the body text */
* {
    font-family: 'Noto Nastaliq Urdu', serif;
    direction: rtl;
    justify-content: right !important;
}

/* Apply a different font to headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Nastaliq Urdu', serif;
    line-height: 1.5;
}

/* Apply to all text in the book */
p {
    line-height: 2.5;
}
